# xcode noise
build/*
*.pbxuser
*.mode1v3
*.mode*

# osx noise
.DS_Store
profile
*.perspectivev3
iTrafficIndicator.xcodeproj/project.xcworkspace/xcuserdata/dominik.xcuserdatad/UserInterfaceState.xcuserstate
Resources/.DS_Store
Sources/.DS_Store